body {
    background-color: rgb(21, 58, 221);
}

#sec {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    text-align: center;
}

#dv1 {
    width: 500px;
    margin: auto;
    padding: 10px;
}
