body {
    background-color: rgb(5, 34, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#section {
    background-color: white;
    width: 700px;
    border-radius: 15px;
}

#dv1 {
    text-align: center;
}
